.testimonials-block {
    padding: 0px 0 30px 30px;
    margin: 0 120px;
    // background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(221, 255, 224);
    // background-image: url('assets/images/bg-testimonial.jpg');
    // position: relative;
    color: #fff;
    display: flex;
    border-radius: 25px;
  }
  .container-test{
    flex: 2;
  }
  .img-test{
    flex: 1;
  }

  
  // .testimonials-block:before {
  //   content: '';
  //   background-color: rgb(221, 255, 224);
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  // }
  
  .testimonials-block .container-fluid {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    // max-width: 60%;
  }
  
  .testimonials-block .subtitle {
    color: #cccccc;
  }
  
  .testimonials-block blockquote {
    border: 0;
    text-align: left;
    margin: 0;
    padding: 0 0 10%;
  }
  
  .testimonials-block cite {
    font-style: normal;
    padding: 15px 0 0;
    display: block;
  }
  
  .testimonials-block cite span {
    display: block;
  }
  
  .testimonials-block .name {
    margin: 0;
    text-transform: uppercase;
  }
  
  .testimonials-block .name:before {
    content: '-';
    margin: 0 5px 0 0;
  }
  
  .testimonials-block .designation {
    font-size: 14px;
  }
  
  .testimonials-block .carousel-indicators button {
    border: 0;
    
  }
  
  .testimonials-block .carousel-indicators .active {
    background: #f64b4b;
  }
  // my css
  .carousel-indicators{
    margin-left: 0 !important;
    justify-content: flex-start !important;
  }